{% extends 'App_user/base.html' %}
{% load static %}

{% block metamorphosis %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            border-right: 1px solid #ddd;
        }
    </style>

    <h2>Editar Producto</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Guardar cambios">    
    </form>
{% endblock %}
