{% extends 'App_user/base.html' %}
{% load static %}

{% block metamorphosis %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        border-right: 1px solid #ddd;
    }
    
    .posteo {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
    }
    
    .posteo-content {
        margin-bottom: 10px;
    }
    
    .posteo-date {
        font-size: 12px;
        color: #888;
    }
</style>

<h3>Página de {{ usuario.last_name }}</h3>
<p>Descripción del negocio: {{ usuario.avatar.description }}</p>
<img src="{{ usuario.avatar.image.url }}" alt="Foto de perfil" width="150px" height="auto">
<p>Email de contacto: {{ usuario.email }}</p>

<h2>Productos de {{ usuario.last_name }}</h2>

{% if productos %}
    <table>
        <thead>
            <tr>
                <th>Codigo de barras</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Fecha de creación</th>
                <th>Imagen del producto</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.bars_code }}</td>
                    <td>{{ producto.nombre_producto }}</td>
                    <td>{{ producto.descripcion_producto }}</td>
                    <td>{{ producto.stock_producto }}</td>
                    <td>{{ producto.precio_producto }}</td>
                    <td>{{ producto.created_at }}</td>
                    <td>
                        {% if producto.imagen_producto %}
                            <img src="{{ producto.imagen_producto.url }}" alt="" style="max-width: 100px; max-height: 100px">
                        {% else %}
                            <p>No hay imagen asociada</p>
                        {% endif %}  
                    </td>                 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No se han creado productos.</p>
{% endif %}

<h2>Posteos de {{ usuario.last_name }}</h2>

{% if posteos %}
    {% for posteo in posteos %}
        <div class="posteo">
            <p class="posteo-content">{{ posteo.contenido }}</p>
            {% if posteo.imagen %}
                <img src="{{ posteo.imagen.url }}" alt="Imagen del posteo" style="max-width: 200px; max-height: 200px;">
            {% endif %}
            <p class="posteo-date">Fecha de creación: {{ posteo.created_at }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No se han realizado posteos.</p>
{% endif %}
{% endblock %}
